*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #323232;
    border: 1px;
}

main#container{
    width: 500px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid #323232;
}

#main-container h1{
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.6rem;
}

#main-container{
    width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: 35px auto;
    padding: 50px;
}


